/* ===============================
   📱 MOBILE
=============================== */
@media (max-width: 768px) {

    .game-layout {
        flex-direction: column;
        align-items: center;
    }

    #acciones,
    #infoJugador {
        width: 100%;
    }

    #escenario {
        width: 100%;
        height: 300px;
    }

    .caja {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }
}

/* ===============================
   📲 TABLET
=============================== */
@media (min-width: 769px) and (max-width: 1024px) {

    #escenario {
        height: 50vh;
    }

    .caja {
        width: 220px;
    }
}

/* ===============================
   💻 DESKTOP GRANDE
=============================== */
@media (min-width: 1025px) {

    #escenario {
        height: 60vh;
    }
}

/* ===============================
   🖥️ ULTRA WIDE
=============================== */
@media (min-width: 1440px) {

    #escenario {
        height: 70vh;
    }
}
